<nz-layout class="layout">
  <nz-header class="layout-header header-main" style="z-index: 1000; background-color: #24292e;">
    <nav class="navbar navbar-expand-lg container header-main" style="max-height: 64px; background-color: #24292e; line-height: 64;">
        <a style="color: #fff; line-height: 64; font-size: 1.2rem; margin-right: 0.5em;" ><i nz-icon nzType="github" nzTheme="outline" style="vertical-align: 0; line-height: 64px; margin-right: 0.5em;"></i><span>MALTHREAT</span></a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul nz-menu class="navbar-nav mr-auto" nzTheme="dark" nzMode="horizontal" style="background-color: transparent;">
            <li class="nav-item" *ngFor="let item of navMenu" nz-menu-item (click)="item.action()"> <span class="nav-link">{{item.title}}</span></li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" disabled aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
          </form>
        </div>
      </nav>
  </nz-header>
  <nz-content class="layout-content">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer class="layout-footer"><a style="color: rgba(0, 0, 0, 0.65);" href="https://github.com/petruburlacu/wapplate"><strong >WAPPLATE</strong></a> ©2019 Petru Marian Burlacu</nz-footer>
</nz-layout>




